body {
    margin: 0;
    font-family: garamond;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(88, 88, 163);
    padding: 14px 40px;
}

.logo {
    color: white;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 16 px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.5 s;
}

.menu a:hover {
    color: rgb(24, 24, 58);
    background-color: rgb(197, 197, 255)
}