body {
    margin: 0;
    font-family: garamond;
    background-color: rgb(232, 238, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 11, 44);
    padding: 1px 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 16 px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.5 s;
}

.menu a:hover {
    color: rgb(22, 22, 57);
    padding: 5px;
    font-size: 21px;
    background-color: rgb(253, 194, 0);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 11, 44);
    padding: 3px 10px;
}

.footermenu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 16 px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.5 s;
}

.footermenu a:hover {
    color: rgb(22, 22, 57);
    padding: 5px;
    font-size: 21px;
    background-color: rgb(253, 194, 0);
}

h1 {
    color: black;
    font-size: 40px;
}

p {
    color: rgb(1, 14, 53);
    font-size: 17px;
}

.title {
    display: flex;
    background-color: rgb(171, 191, 244);
}


